#colo{
  background-color: yellow;
}

#jumbo{
  background-color: yellow;
}
h1{
  text-align: center;
  margin-top: 0px;
  font-size: 65px;
  font-style: italic;
}

.row{
  font-style: italic;
  font-size: 25px;
}

.ping{
  background-col
